.team-name {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: rgb(0, 128, 128);
  text-align: center;
}

.col {
  margin-bottom: 20px;
}

.teritiary-header--profile-photo {
  width: 120px;
  height: 120px;
}

.text-black {
  color: black;
  font-size: 1.1em;
  text-align: center;
}

.text-blue {
  color: rgb(39, 140, 235);
  text-align: center;
}
